.green {
  color: #28a745;
}

.blue {
  color: #007bff;
}

/* margin */
.margin {
  margin: 16px;
}

.margin-l {
  margin: 20px;
}

.margin-xl {
  margin: 24px;
}

.margin-xxl {
  margin: 32px;
}

/* margin-lr */
.margin-lr {
  margin: 0 16px;
}

.margin-lr-l {
  margin: 0 20px;
}

.margin-lr-xl {
  margin: 0 24px;
}

.margin-lr-xxl {
  margin: 0 32px;
}

/* margin-tb */
.margin-tb {
  margin: 16px 0;
}

.margin-tb-l {
  margin: 20px 0;
}

.margin-tb-xl {
  margin: 24px 0;
}

.margin-tb-xxl {
  margin: 32px 0;
}

.bf {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hover-scale:hover {
  scale: 1.1;
}

.hover-color:hover {
  background-color: #444;
}

.transition-scale {
  transition: scale 100ms;
}

body {
  position: relative;
  overflow-y: hidden;
  background-color: #101010;
  color: #e2e2e2;
  height: 100dvh;
}

.control-panel {
  z-index: 1;
  border: 1px solid #666666;
  background-color: #111111;
  padding: 16px;
  border-radius: 48px;
  margin: 32px;
  height: calc(100% - 64px);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
}
.control-panel .event-manager {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-panel .event-manager #event-select {
  height: 36px;
  width: 100%;
  border-radius: 36px;
  border: none;
  margin-right: 36px;
  text-align: center;
  background-color: #222;
  border: 1px solid #444;
  color: #999;
  font-size: 1.5rem;
}
.control-panel .event-manager #new-event {
  border: 1px solid #444;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #222;
}
.control-panel .info {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
  border-radius: 36px;
  background-color: #222;
  border: 1px solid #444;
}

#event-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#event-popup::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 50, 50, 0.6);
  filter: blur(40px);
  z-index: 2;
}
#event-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
  background-color: #111;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  border-radius: 36px;
  font-size: 1.5rem;
  color: #999;
}
#event-popup form > * {
  width: 60%;
  margin: 0;
}
#event-popup form h2 {
  margin-top: 2rem;
  font-size: 1.6rem;
}
#event-popup form label {
  height: 1.8rem;
  margin-bottom: 4px;
  margin-top: 8px;
}
#event-popup form input {
  line-height: 1.8rem;
  font-size: 1.5rem;
  border: 1px solid #888;
  background-color: #444;
  color: #999;
}
#event-popup form select {
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid #888;
  background-color: #444;
  color: #999;
  text-align: center;
}
#event-popup form button {
  margin-top: 12px;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid #888;
  background-color: #444;
  color: #999;
}/*# sourceMappingURL=main.css.map */